In [20]:
import pandas as pd
import numpy as np

In [30]:
# Pivot table - method 1
books = pd.read_excel('Book14.xlsx')
books['Year'] = pd.DatetimeIndex(books.Date).year # or pd.DatetimeIndex(books['Date']).year

# .pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', 
# fill_value=None, margins=False, dropna=True, margins_name='All')[source]
pt1 = books.pivot_table(index = 'Category', columns = 'Year', values = 'Total',aggfunc = np.sum)

print(pt1)

Year           2011      2012      2013      2014
Category
Bikes      47748118  44836839  45034209  45139393
Clothings  30224322  29221174  31621789  31064743

In [31]:
# Pivot table - method 1 (group by - manually)
books1 = pd.read_excel('Book14.xlsx')
books1['Year'] = pd.DatetimeIndex(books['Date']).year

# .groupby(by=None, axis=0, level=None, as_index=True, sort=True, 
# group_keys=True, squeeze=False, observed=False, **kwargs)
groups = books1.groupby(['Category', 'Year'])

# get money and numbers
# total money
s = groups['Total'].sum()
# total number of sale
c = groups['ID'].count()

pt2 = pd.DataFrame({'Sum': s, 'Count': c})
print(pt2)

                     Sum  Count
Category  Year
Bikes     2011  47748118    300
          2012  44836839    300
          2013  45034209    300
          2014  45139393    300
Clothings 2011  30224322    199
          2012  29221174    200
          2013  31621789    200
          2014  31064743    200

In [34]:
# Pivot table in excel
books2 = pd.read_excel('Book14.xlsx', sheet_name = 'Sheet2', header = 1, index_col = 'Row Labels')
print(books2)

             Sum of Total  Count of ID
Row Labels
2011             78113134          499
Bikes            45817544          300
Clothings        32295590          199
2012             77819330          500
Bikes            47517254          300
Clothings        30302076          200
2013             76831807          500
Bikes            46485177          300
Clothings        30346630          200
2014             81928462          500
Bikes            50361181          300
Clothings        31567281          200
Grand Total     314692733         1999