In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1, 2, 3], index = [1, 2, 3], name = 'A')
s2 = pd.Series([10, 20, 30], index = [1, 2, 3], name = 'B')
s3 = pd.Series([100, 200, 300], index = [1, 2, 3], name = 'C')

In [3]:
# creat a table with dictionary
df0 = pd.DataFrame({s1.name:s1, s2.name:s2, s3.name:s3}) # name as row, series as col
print(df0)

   A   B    C
1  1  10  100
2  2  20  200
3  3  30  300

In [4]:
# creat a table with list
df1 = pd.DataFrame([s1, s2,s3]) # series as row, name as col
print(df1)

     1    2    3
A    1    2    3
B   10   20   30
C  100  200  300

In [5]:
#df0.to_excel('output.xlsx')