In [5]:
import pandas as pd

In [6]:
# merge table
students = pd.read_excel('Book9.xlsx', sheet_name = 'Students')
print (students)

score = pd.read_excel('Book9.xlsx', sheet_name = 'Score')
print(score)
# table = students.merge(score, on = 'ID') # inner join, bandon the element without ID
table = students.merge(score, how = 'left', on = 'ID').fillna(0) 
    # join the ID number, reserve th element in left sheet and fill NaN to 0
    # if left is not ID, right is ID then chang on to: left on = .., right on = 'ID'
table.Score = table.Score.astype(int) # change the float to int
print(table)

    ID         Name
0    1  Student_001
1    3  Student_003
2    5  Student_005
3    7  Student_007
4    9  Student_009
5   11  Student_011
6   13  Student_013
7   15  Student_015
8   17  Student_017
9   19  Student_019
10  21  Student_021
11  23  Student_023
12  25  Student_025
13  27  Student_027
14  29  Student_029
15  31  Student_031
16  33  Student_033
17  35  Student_035
18  37  Student_037
19  39  Student_039
    ID  Score
0    1     81
1    2     90
2    3     89
3    4     99
4    5     96
5    6     91
6    7     94
7    8     85
8    9     87
9   10     88
10  11     87
11  12     97
12  13     87
13  14     98
14  15     89
15  16     90
16  17    100
17  18     89
18  19     80
19  20     88
    ID         Name  Score
0    1  Student_001     81
1    3  Student_003     89
2    5  Student_005     96
3    7  Student_007     94
4    9  Student_009     87
5   11  Student_011     87
6   13  Student_013     87
7   15  Student_015     89
8   17  Student_017    100
9   19  Student_019     80
10  21  Student_021      0
11  23  Student_023      0
12  25  Student_025      0
13  27  Student_027      0
14  29  Student_029      0
15  31  Student_031      0
16  33  Student_033      0
17  35  Student_035      0
18  37  Student_037      0
19  39  Student_039      0

In [7]:
# merge table if ID is preset to index
students1 = pd.read_excel('Book9.xlsx', sheet_name = 'Students', index_col= 'ID')
score1 = pd.read_excel('Book9.xlsx', sheet_name = 'Score', index_col= 'ID')

# table = students.merge(score, how = 'left', on = 'ID').fillna(0) 
# or 
table1 = students1.merge(score1, how = 'left', left_on = students1.index, right_on = score1.index).fillna(0) 
table1.Score = table1.Score.astype(int)
print(table1)

    key_0         Name  Score
0       1  Student_001     81
1       3  Student_003     89
2       5  Student_005     96
3       7  Student_007     94
4       9  Student_009     87
5      11  Student_011     87
6      13  Student_013     87
7      15  Student_015     89
8      17  Student_017    100
9      19  Student_019     80
10     21  Student_021      0
11     23  Student_023      0
12     25  Student_025      0
13     27  Student_027      0
14     29  Student_029      0
15     31  Student_031      0
16     33  Student_033      0
17     35  Student_035      0
18     37  Student_037      0
19     39  Student_039      0

In [8]:
# join table, if ID is preset, no need to define index of left on and right on
students2 = pd.read_excel('Book9.xlsx', sheet_name = 'Students', index_col= 'ID')
score2 = pd.read_excel('Book9.xlsx', sheet_name = 'Score', index_col= 'ID')

table1 = students1.join(score1, how = 'left').fillna(0) 
table1.Score = table1.Score.astype(int)
print(table1)

           Name  Score
ID
1   Student_001     81
3   Student_003     89
5   Student_005     96
7   Student_007     94
9   Student_009     87
11  Student_011     87
13  Student_013     87
15  Student_015     89
17  Student_017    100
19  Student_019     80
21  Student_021      0
23  Student_023      0
25  Student_025      0
27  Student_027      0
29  Student_029      0
31  Student_031      0
33  Student_033      0
35  Student_035      0
37  Student_037      0
39  Student_039      0

In [33]:
# concat
students3 = pd.read_excel('Book9.xlsx', sheet_name = 'Students', index_col= 'ID')
score3 = pd.read_excel('Book9.xlsx', sheet_name = 'Score', index_col= 'ID')

c = pd.concat([students3, score3], axis = 1)
print(c)
print('')

c = pd.concat([students3, score3], axis = 1, join_axes = [students3.index]).fillna(0)
print(c)

           Name  Score
ID
1   Student_001   81.0
2           NaN   90.0
3   Student_003   89.0
4           NaN   99.0
5   Student_005   96.0
6           NaN   91.0
7   Student_007   94.0
8           NaN   85.0
9   Student_009   87.0
10          NaN   88.0
11  Student_011   87.0
12          NaN   97.0
13  Student_013   87.0
14          NaN   98.0
15  Student_015   89.0
16          NaN   90.0
17  Student_017  100.0
18          NaN   89.0
19  Student_019   80.0
20          NaN   88.0
21  Student_021    NaN
23  Student_023    NaN
25  Student_025    NaN
27  Student_027    NaN
29  Student_029    NaN
31  Student_031    NaN
33  Student_033    NaN
35  Student_035    NaN
37  Student_037    NaN
39  Student_039    NaN

           Name  Score
ID
1   Student_001   81.0
3   Student_003   89.0
5   Student_005   96.0
7   Student_007   94.0
9   Student_009   87.0
11  Student_011   87.0
13  Student_013   87.0
15  Student_015   89.0
17  Student_017  100.0
19  Student_019   80.0
21  Student_021    0.0
23  Student_023    0.0
25  Student_025    0.0
27  Student_027    0.0
29  Student_029    0.0
31  Student_031    0.0
33  Student_033    0.0
35  Student_035    0.0
37  Student_037    0.0
39  Student_039    0.0