In [1]:
import pandas as pd

In [30]:
page1 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_001')
page2 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_002')
# page 2 follows page 1 (union - pands: append)
    # if reset_index has default preset, the old index will be still there
    # use reset_index (level=None, drop=False, inplace=False, col_level=0, col_fill='')
students = page1.append(page2).reset_index(drop = True)
# or students = pd.concat([page1, page2], axis = 0).reset_index(drop = True)

print(students)

    ID         Name  Score
0    1  Student_001     90
1    2  Student_002     90
2    3  Student_003     90
3    4  Student_004     90
4    5  Student_005     90
5    6  Student_006     90
6    7  Student_007     90
7    8  Student_008     90
8    9  Student_009     90
9   10  Student_010     90
10  11  Student_011     90
11  12  Student_012     90
12  13  Student_013     90
13  14  Student_014     90
14  15  Student_015     90
15  16  Student_016     90
16  17  Student_017     90
17  18  Student_018     90
18  19  Student_019     90
19  20  Student_020     90
20  21  Student_021     80
21  22  Student_022     80
22  23  Student_023     80
23  24  Student_024     80
24  25  Student_025     80
25  26  Student_026     80
26  27  Student_027     80
27  28  Student_028     80
28  29  Student_029     80
29  30  Student_030     80
30  31  Student_031     80
31  32  Student_032     80
32  33  Student_033     80
33  34  Student_034     80
34  35  Student_035     80
35  36  Student_036     80
36  37  Student_037     80
37  38  Student_038     80
38  39  Student_039     80
39  40  Student_040     80

In [3]:
# add a new row at the end of students, in dataframe of panda, row/col is a series
    # page1 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_001')
    # page2 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_002')
    # students = page1.append(page2).reset_index(drop = True)
stu = pd.Series({'ID': 41, 'Name': 'Simon', 'Score': 99})
# .append (other, ignore_index=False, verify_integrity=False, sort=None)
students = students.append(stu, ignore_index = True)

print(students.tail(10))

    ID         Name  Score
31  32  Student_032     80
32  33  Student_033     80
33  34  Student_034     80
34  35  Student_035     80
35  36  Student_036     80
36  37  Student_037     80
37  38  Student_038     80
38  39  Student_039     80
39  40  Student_040     80
40  41        Simon     99

In [4]:
# edit existed value in the dataframe students
# change value of index 39, id 40
    # page1 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_001')
    # page2 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_002')
    # students = page1.append(page2).reset_index(drop = True)
students.at[39, 'Name'] = 'Telina'
students.at[39, 'Score'] = 99

# change the whole row (use id here to change create row for covering)
stu1 = pd.Series({'ID': 33, 'Name': 'Tim', 'Score': 99})
# use index here
students.iloc[32] = stu1

print(students.tail(10))

    ID         Name  Score
31  32  Student_032     80
32  33          Tim     99
33  34  Student_034     80
34  35  Student_035     80
35  36  Student_036     80
36  37  Student_037     80
37  38  Student_038     80
38  39  Student_039     80
39  40       Telina     99
40  41        Simon     99

In [5]:
# Insert a row into dataframe (between id = 20 and 21, index = 19 ane 20)
# need to use index to insert, slice dataframe to two dataframe, then add the new row, then merge , like sandwich
page1 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_001')
page2 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_002')
students = page1.append(page2).reset_index(drop = True)
stu2 = pd.Series({'ID': 101, 'Name': 'Steph', 'Score': 101})

slice1 = students[:20] # part 1 is from index 0 to 19
print(slice1)

slice2 = students[20:] # part 2 is from index 20 to end
print(slice2)
students = slice1.append(stu2, ignore_index = True).append(slice2).reset_index(drop = True)

print(students)

    ID         Name  Score
0    1  Student_001     90
1    2  Student_002     90
2    3  Student_003     90
3    4  Student_004     90
4    5  Student_005     90
5    6  Student_006     90
6    7  Student_007     90
7    8  Student_008     90
8    9  Student_009     90
9   10  Student_010     90
10  11  Student_011     90
11  12  Student_012     90
12  13  Student_013     90
13  14  Student_014     90
14  15  Student_015     90
15  16  Student_016     90
16  17  Student_017     90
17  18  Student_018     90
18  19  Student_019     90
19  20  Student_020     90
    ID         Name  Score
20  21  Student_021     80
21  22  Student_022     80
22  23  Student_023     80
23  24  Student_024     80
24  25  Student_025     80
25  26  Student_026     80
26  27  Student_027     80
27  28  Student_028     80
28  29  Student_029     80
29  30  Student_030     80
30  31  Student_031     80
31  32  Student_032     80
32  33  Student_033     80
33  34  Student_034     80
34  35  Student_035     80
35  36  Student_036     80
36  37  Student_037     80
37  38  Student_038     80
38  39  Student_039     80
39  40  Student_040     80
     ID         Name  Score
0     1  Student_001     90
1     2  Student_002     90
2     3  Student_003     90
3     4  Student_004     90
4     5  Student_005     90
5     6  Student_006     90
6     7  Student_007     90
7     8  Student_008     90
8     9  Student_009     90
9    10  Student_010     90
10   11  Student_011     90
11   12  Student_012     90
12   13  Student_013     90
13   14  Student_014     90
14   15  Student_015     90
15   16  Student_016     90
16   17  Student_017     90
17   18  Student_018     90
18   19  Student_019     90
19   20  Student_020     90
20  101        Steph    101
21   21  Student_021     80
22   22  Student_022     80
23   23  Student_023     80
24   24  Student_024     80
25   25  Student_025     80
26   26  Student_026     80
27   27  Student_027     80
28   28  Student_028     80
29   29  Student_029     80
30   30  Student_030     80
31   31  Student_031     80
32   32  Student_032     80
33   33  Student_033     80
34   34  Student_034     80
35   35  Student_035     80
36   36  Student_036     80
37   37  Student_037     80
38   38  Student_038     80
39   39  Student_039     80
40   40  Student_040     80

In [14]:
# delete row index 0 - 9
page1 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_001')
page2 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_002')
students = page1.append(page2).reset_index(drop = True)

#students.drop(index = [0, 1, 2], inplace = True)
#students.drop(index = range(0,10), inplace = True)
students.drop(index = students[1:18].index, inplace = True)

print(students)

Int64Index([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34],
           dtype='int64')
    ID         Name  Score
0    1  Student_001     90
18  19  Student_019     90
19  20  Student_020     90
20  21  Student_021     80
21  22  Student_022     80
22  23  Student_023     80
23  24  Student_024     80
24  25  Student_025     80
25  26  Student_026     80
26  27  Student_027     80
27  28  Student_028     80
28  29  Student_029     80
29  30  Student_030     80
30  31  Student_031     80
31  32  Student_032     80
32  33  Student_033     80
33  34  Student_034     80
34  35  Student_035     80
35  36  Student_036     80
36  37  Student_037     80
37  38  Student_038     80
38  39  Student_039     80
39  40  Student_040     80

In [28]:
# conditional delete
page1 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_001')
page2 = pd.read_excel('Book17.xlsx', sheet_name = 'Page_002')
students = page1.append(page2).reset_index(drop = True)

for i in range(2,8):
    students['Name'].at[i] = ''
print(students.head(9))
print('')

# delete operation
missing = students.loc[students['Name'] == '']
print(missing)
print('')

stduents = students.drop(index = missing.index, inplace = True)
    # missing. index - DataFrame.index, the index (row labels) of the DataFrame.
print(students)
print('')

# reset_index
students = students.reset_index(drop = True) 
print(students)

   ID         Name  Score
0   1  Student_001     90
1   2  Student_002     90
2   3                  90
3   4                  90
4   5                  90
5   6                  90
6   7                  90
7   8                  90
8   9  Student_009     90

   ID Name  Score
2   3          90
3   4          90
4   5          90
5   6          90
6   7          90
7   8          90

    ID         Name  Score
0    1  Student_001     90
1    2  Student_002     90
8    9  Student_009     90
9   10  Student_010     90
10  11  Student_011     90
11  12  Student_012     90
12  13  Student_013     90
13  14  Student_014     90
14  15  Student_015     90
15  16  Student_016     90
16  17  Student_017     90
17  18  Student_018     90
18  19  Student_019     90
19  20  Student_020     90
20  21  Student_021     80
21  22  Student_022     80
22  23  Student_023     80
23  24  Student_024     80
24  25  Student_025     80
25  26  Student_026     80
26  27  Student_027     80
27  28  Student_028     80
28  29  Student_029     80
29  30  Student_030     80
30  31  Student_031     80
31  32  Student_032     80
32  33  Student_033     80
33  34  Student_034     80
34  35  Student_035     80
35  36  Student_036     80
36  37  Student_037     80
37  38  Student_038     80
38  39  Student_039     80
39  40  Student_040     80

    ID         Name  Score
0    1  Student_001     90
1    2  Student_002     90
2    9  Student_009     90
3   10  Student_010     90
4   11  Student_011     90
5   12  Student_012     90
6   13  Student_013     90
7   14  Student_014     90
8   15  Student_015     90
9   16  Student_016     90
10  17  Student_017     90
11  18  Student_018     90
12  19  Student_019     90
13  20  Student_020     90
14  21  Student_021     80
15  22  Student_022     80
16  23  Student_023     80
17  24  Student_024     80
18  25  Student_025     80
19  26  Student_026     80
20  27  Student_027     80
21  28  Student_028     80
22  29  Student_029     80
23  30  Student_030     80
24  31  Student_031     80
25  32  Student_032     80
26  33  Student_033     80
27  34  Student_034     80
28  35  Student_035     80
29  36  Student_036     80
30  37  Student_037     80
31  38  Student_038     80
32  39  Student_039     80
33  40  Student_040     80