In [1]:
import pandas as pd
import numpy as np

In [2]:
page1 = pd.read_excel('Book18.xlsx', sheet_name = 'Page_001')
page2 = pd.read_excel('Book18.xlsx', sheet_name = 'Page_002')
# page 2 side by side page 1

students = pd.concat([page1, page2], axis = 1)
# s1 = pd.Series(['a', 'b'])
# s2 = pd.Series(['c', 'd'])
# pd.concat([s1, s2], ignore_index = True)
print(students)

    ID         Name  Score  ID         Name  Score
0    1  Student_001     90  21  Student_021     80
1    2  Student_002     90  22  Student_022     80
2    3  Student_003     90  23  Student_023     80
3    4  Student_004     90  24  Student_024     80
4    5  Student_005     90  25  Student_025     80
5    6  Student_006     90  26  Student_026     80
6    7  Student_007     90  27  Student_027     80
7    8  Student_008     90  28  Student_028     80
8    9  Student_009     90  29  Student_029     80
9   10  Student_010     90  30  Student_030     80
10  11  Student_011     90  31  Student_031     80
11  12  Student_012     90  32  Student_032     80
12  13  Student_013     90  33  Student_033     80
13  14  Student_014     90  34  Student_034     80
14  15  Student_015     90  35  Student_035     80
15  16  Student_016     90  36  Student_036     80
16  17  Student_017     90  37  Student_037     80
17  18  Student_018     90  38  Student_038     80
18  19  Student_019     90  39  Student_039     80
19  20  Student_020     90  40  Student_040     80

In [3]:
# add a new col
students1 = pd.concat([page1, page2]).reset_index(drop = True)
#students1['Age'] = np.repeat(25, len(students1)) # all 25 
#students1['Age'] = 25 # all 25 
students1['Age'] = np.arange(0, len(students1)) 
print(students1.head(5))

   ID         Name  Score  Age
0   1  Student_001     90    0
1   2  Student_002     90    1
2   3  Student_003     90    2
3   4  Student_004     90    3
4   5  Student_005     90    4

In [4]:
# delete col
# drop (labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise'ï¼‰
students1.drop(columns = ['Age', 'Score'], inplace = True)
print(students1.head(5))

   ID         Name
0   1  Student_001
1   2  Student_002
2   3  Student_003
3   4  Student_004
4   5  Student_005

In [5]:
# insert col
# insert (loc, column, value, allow_duplicates=False)
students1.insert(1, column = 'Foo', value = np.repeat('foo',len(students1)))
print(students1.head(5))

   ID  Foo         Name
0   1  foo  Student_001
1   2  foo  Student_002
2   3  foo  Student_003
3   4  foo  Student_004
4   5  foo  Student_005

In [6]:
# change the col name
# rename (mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=Non)
students1.rename(columns = {'Foo': 'FOO', 'Name': 'NAME'}, inplace = True)
print(students1.head(5))

   ID  FOO         NAME
0   1  foo  Student_001
1   2  foo  Student_002
2   3  foo  Student_003
3   4  foo  Student_004
4   5  foo  Student_005

In [32]:
# delete nonsense cell
students1 = pd.concat([page1, page2]).reset_index(drop = True)
students1['ID'] = students1['ID'].astype(float)
students1['Score'] = students1['Score'].astype(float)

# creat empty ID
for i in range(5, 10):
    students1['ID'].at[i] = np.nan
    
for i in range(2, 4):
    students1['Score'].at[i] = np.nan
    
print(students1.head(11))
print('')

students1.dropna(inplace = True) # dropna check all col row by row
print(students1.head(11))

      ID         Name  Score
0    1.0  Student_001   90.0
1    2.0  Student_002   90.0
2    3.0  Student_003    NaN
3    4.0  Student_004    NaN
4    5.0  Student_005   90.0
5    NaN  Student_006   90.0
6    NaN  Student_007   90.0
7    NaN  Student_008   90.0
8    NaN  Student_009   90.0
9    NaN  Student_010   90.0
10  11.0  Student_011   90.0

      ID         Name  Score
0    1.0  Student_001   90.0
1    2.0  Student_002   90.0
4    5.0  Student_005   90.0
10  11.0  Student_011   90.0
11  12.0  Student_012   90.0
12  13.0  Student_013   90.0
13  14.0  Student_014   90.0
14  15.0  Student_015   90.0
15  16.0  Student_016   90.0
16  17.0  Student_017   90.0
17  18.0  Student_018   90.0