In [1]:
import pandas as pd
from datetime import date, timedelta

In [2]:
# function for month increament
def add_month(d, md):
    yd = md // 12
    m = d.month + md%12
    if m != 12:
        yd += m //12
        m = m%12
    return date(d.year + yd, m, d.day)

In [5]:
# import data with selected area
books = pd.read_excel('Book0.xlsx',skiprows = 3, usecols = 'C:F', index_col = None, 
                      dtype ={'ID': str, 'InStore': str, 'Date': str}) # NaN is float, so set dtype to str first
print(books)  
print(type(books['ID']))

     ID      Name InStore Date
0   nan  Book_001     nan  nan
1   nan  Book_002     nan  nan
2   nan  Book_003     nan  nan
3   nan  Book_004     nan  nan
4   nan  Book_005     nan  nan
5   nan  Book_006     nan  nan
6   nan  Book_007     nan  nan
7   nan  Book_008     nan  nan
8   nan  Book_009     nan  nan
9   nan  Book_010     nan  nan
10  nan  Book_011     nan  nan
11  nan  Book_012     nan  nan
12  nan  Book_013     nan  nan
13  nan  Book_014     nan  nan
14  nan  Book_015     nan  nan
15  nan  Book_016     nan  nan
16  nan  Book_017     nan  nan
17  nan  Book_018     nan  nan
18  nan  Book_019     nan  nan
19  nan  Book_020     nan  nan
20  nan  Book_021     nan  nan
21  nan  Book_022     nan  nan
22  nan  Book_023     nan  nan
23  nan  Book_024     nan  nan
24  nan  Book_025     nan  nan
25  nan  Book_026     nan  nan
26  nan  Book_027     nan  nan
27  nan  Book_028     nan  nan
28  nan  Book_029     nan  nan
29  nan  Book_030     nan  nan
30  nan  Book_031     nan  nan
31  nan  Book_032     nan  nan
32  nan  Book_033     nan  nan
33  nan  Book_034     nan  nan
34  nan  Book_035     nan  nan
<class 'pandas.core.series.Series'>

In [6]:
# set value to ID col
start = date(2018, 1, 1)
for i in books.index: # or for i in range(len(books))
    books['ID'].at[i] = i + 1 # or books.at[i, 'ID'] = i + 1
    books['InStore'].at[i] = 'Yes' if i%2 == 0 else 'No'
    books['Date'].at[i] = start + timedelta(days = i) # day increament
    #books['Date'].at[i] = date(start.year + i, start.month, start.day) # year increament
    #books['Date'].at[i] = add_month(start, i) # month increament
    
print(books)

    ID      Name InStore        Date
0    1  Book_001     Yes  2018-01-01
1    2  Book_002      No  2018-01-02
2    3  Book_003     Yes  2018-01-03
3    4  Book_004      No  2018-01-04
4    5  Book_005     Yes  2018-01-05
5    6  Book_006      No  2018-01-06
6    7  Book_007     Yes  2018-01-07
7    8  Book_008      No  2018-01-08
8    9  Book_009     Yes  2018-01-09
9   10  Book_010      No  2018-01-10
10  11  Book_011     Yes  2018-01-11
11  12  Book_012      No  2018-01-12
12  13  Book_013     Yes  2018-01-13
13  14  Book_014      No  2018-01-14
14  15  Book_015     Yes  2018-01-15
15  16  Book_016      No  2018-01-16
16  17  Book_017     Yes  2018-01-17
17  18  Book_018      No  2018-01-18
18  19  Book_019     Yes  2018-01-19
19  20  Book_020      No  2018-01-20
20  21  Book_021     Yes  2018-01-21
21  22  Book_022      No  2018-01-22
22  23  Book_023     Yes  2018-01-23
23  24  Book_024      No  2018-01-24
24  25  Book_025     Yes  2018-01-25
25  26  Book_026      No  2018-01-26
26  27  Book_027     Yes  2018-01-27
27  28  Book_028      No  2018-01-28
28  29  Book_029     Yes  2018-01-29
29  30  Book_030      No  2018-01-30
30  31  Book_031     Yes  2018-01-31
31  32  Book_032      No  2018-02-01
32  33  Book_033     Yes  2018-02-02
33  34  Book_034      No  2018-02-03
34  35  Book_035     Yes  2018-02-04

In [5]:
#books.set_index('ID', inplace = True) # not producing idx
#books.to_excel('Output3.xlsx')