In [1]:
import pandas as pd

In [7]:
# col by col calculation 1
books = pd.read_excel('Book1.xlsx', index_col = 'ID')
books['Price'] = books['ListPrice'] * books['Discount']
print(books)

        Name  ListPrice  Discount  Price
ID
1   Book_001         10       0.5    5.0
2   Book_002         20       0.5   10.0
3   Book_003         30       0.5   15.0
4   Book_004         40       0.5   20.0
5   Book_005         50       0.5   25.0
6   Book_006         60       0.5   30.0
7   Book_007         70       0.5   35.0
8   Book_008         80       0.5   40.0
9   Book_009         90       0.5   45.0
10  Book_010        100       0.5   50.0
11  Book_011        110       0.5   55.0
12  Book_012        120       0.5   60.0
13  Book_013        130       0.5   65.0
14  Book_014        140       0.5   70.0
15  Book_015        150       0.5   75.0
16  Book_016        160       0.5   80.0
17  Book_017        170       0.5   85.0
18  Book_018        180       0.5   90.0
19  Book_019        190       0.5   95.0
20  Book_020        200       0.5  100.0

In [24]:
# col by col calculation 2
books1 = pd.read_excel('Book1.xlsx', index_col = 'ID')
for i in range(5,16): # books1.index:
    books1['Price'].at[i] = books1['ListPrice'].at[i] * books1['Discount'].at[i]
print(books1)

        Name  ListPrice  Discount  Price
ID
1   Book_001         10       0.5    NaN
2   Book_002         20       0.5    NaN
3   Book_003         30       0.5    NaN
4   Book_004         40       0.5    NaN
5   Book_005         50       0.5   25.0
6   Book_006         60       0.5   30.0
7   Book_007         70       0.5   35.0
8   Book_008         80       0.5   40.0
9   Book_009         90       0.5   45.0
10  Book_010        100       0.5   50.0
11  Book_011        110       0.5   55.0
12  Book_012        120       0.5   60.0
13  Book_013        130       0.5   65.0
14  Book_014        140       0.5   70.0
15  Book_015        150       0.5   75.0
16  Book_016        160       0.5    NaN
17  Book_017        170       0.5    NaN
18  Book_018        180       0.5    NaN
19  Book_019        190       0.5    NaN
20  Book_020        200       0.5    NaN

In [27]:
# book price increa by 2 (1)
books2 = pd.read_excel('Book1.xlsx', index_col = 'ID')
books2['ListPrice'] = books2['ListPrice'] + 2
print(books2)

        Name  ListPrice  Discount  Price
ID
1   Book_001         12       0.5    NaN
2   Book_002         22       0.5    NaN
3   Book_003         32       0.5    NaN
4   Book_004         42       0.5    NaN
5   Book_005         52       0.5    NaN
6   Book_006         62       0.5    NaN
7   Book_007         72       0.5    NaN
8   Book_008         82       0.5    NaN
9   Book_009         92       0.5    NaN
10  Book_010        102       0.5    NaN
11  Book_011        112       0.5    NaN
12  Book_012        122       0.5    NaN
13  Book_013        132       0.5    NaN
14  Book_014        142       0.5    NaN
15  Book_015        152       0.5    NaN
16  Book_016        162       0.5    NaN
17  Book_017        172       0.5    NaN
18  Book_018        182       0.5    NaN
19  Book_019        192       0.5    NaN
20  Book_020        202       0.5    NaN

In [36]:
# book price increa by 2 (2) using lambda or using function

# def add_2(x):
#     return x + 2

books3 = pd.read_excel('Book1.xlsx', index_col = 'ID')
# books3['ListPrice'] = books3['ListPrice'].apply(add_2)
books3['ListPrice'] = books3['ListPrice'].apply(lambda x: x + 2)
print(books3)

        Name  ListPrice  Discount  Price
ID
1   Book_001         12       0.5    NaN
2   Book_002         22       0.5    NaN
3   Book_003         32       0.5    NaN
4   Book_004         42       0.5    NaN
5   Book_005         52       0.5    NaN
6   Book_006         62       0.5    NaN
7   Book_007         72       0.5    NaN
8   Book_008         82       0.5    NaN
9   Book_009         92       0.5    NaN
10  Book_010        102       0.5    NaN
11  Book_011        112       0.5    NaN
12  Book_012        122       0.5    NaN
13  Book_013        132       0.5    NaN
14  Book_014        142       0.5    NaN
15  Book_015        152       0.5    NaN
16  Book_016        162       0.5    NaN
17  Book_017        172       0.5    NaN
18  Book_018        182       0.5    NaN
19  Book_019        192       0.5    NaN
20  Book_020        202       0.5    NaN